<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <p class="feed-subscribe">
            
          </p>
          <ul class="contact-list">
            <li class="feed-subscribe">Maintainers</li>
              <li class="p-name">Dandy</li>
              <li><a class="u-email" href="mailto:dandycangame@gmail.com">dandycangame@gmail.com</a></li>
              <li class="p-name">Dandy</li>
              <li><a class="u-email" href="mailto:dandycangame@gmail.com">dandycangame@gmail.com</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
  
      <div class="social-links">
          <ul class="social-media-list">
            <li><a href="https://discord.gg/" target="_blank" title="Hollow Knight Modding Discord">Hollow Knight Modding Discord</a></li>
          </ul>
      </div>
  
    </div>
  
  </footer>